body {
  font-family: "lato", sans-serif;
  background-color: #282828;
}
ul{
padding-inline-start: 0px;
}
#container-table {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}
h2 small {
  font-size: 0.5em;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: unset;
  margin-bottom: 25px;
}
.responsive-table .table-header {
  background-color: #FFD580;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  border: solid 2px orange;
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
}
.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
  display: flex;
  flex-basis: 10%;
  align-items: center;
}
.responsive-table .col-2 {
  flex-basis: 30%;
}
.responsive-table .col-3 {
  display: flex;
  flex-basis: 25%;
  align-items: center;
}
.responsive-table .col-4 {
  display: flex;
  flex-basis: 35%;
  align-items: center;
}
.responsive-table .col-5 {
  display: flex;
  flex-basis: 35%;
  align-items: center;
}
.responsive-table .col-6 {
  display: flex;
  flex-basis: 35%;
  align-items: center;
}
.responsive-table .col-7 {
  display: flex;
  flex-basis: 35%;
  align-items: center;
}
.responsive-table .col-8 {
  display: flex;
  flex-basis: 35%;
  align-items: center;
}
@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
    justify-content:  unset;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: black;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
  img {
      max-width: 250px;
      max-height: 155px;
  }
}